.employee-container{

    background-color: rgb(149, 192, 228);
    padding: 0.5em;
    margin: auto;
    border-radius: 20px;  
    margin: 5em 1em;
   
    
}

.employee-container h2{
   
    color:rgb(14, 13, 12);
  
    font-size: 1.2em;
    font-family:sans-serif;
  
}

