.App {
  text-align: center;
  height: auto;

}

body{
  background-color: rgb(72, 73, 73);
}

h1 { color: #ffffff;
   font-family: 'Helvetica Neue', sans-serif;
   font-size: 70px;
   font-weight: bold;
   letter-spacing: -1px;
   line-height: 1;
   text-align: center; }